
@media only screen and (min-width: 600px) {
    #grid-container {
        grid-template-columns: .1fr 1fr 1fr 1fr .1fr;
        grid-template-rows: 5vh 23vh 7vh 55vh 10vh;
        grid-template-areas: 
    ". . . . ."
    ". header header profile ."
    ". nav nav nav ."
    ". work work resume ."
    ". contact contact contact ."
    ;  
    }


}