
@media screen and (max-width: 500px) {
    #grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 20vh 15vh 15vh 35vh 10vh 5vh;
        grid-template-areas:
    "header"
    "profile"
    "nav"
    "work"
    "resume"
    "contact"
    ;  
    }
}

@media screen and (min-width: 800px) {
    #grid-container {
    grid-template-columns: 10vw 16vw 16vw 16vw 16vw 16vw 10vw;
    grid-template-rows: 5vh 30vh 15vh 40vh 10vh;
    grid-template-areas:
        ". . . . . . ."
        ". header header header profile profile ."
        ". nav nav nav nav nav ."
        ". work work work work resume ."
        ". contact contact contact contact contact ."
        ;  
    }
}

