    @media screen and (min-width: 585px){
    .work-divider {
           padding-left: 33.3%;    
    }

     .profiles {
    border-width: 1px; 
    border-color: red; 
    border-style: solid; 
}   
    .project-name {
        text-align: left; 
    }
}

@media screen and (max-width: 410px){
    .btn-group {
        border-width: 1px; 
    border-color: red; 
    border-style: solid; 
    }
}    