.pf-container {
  display: flex;
}

.pf-content {
  padding: 3vw;
}

.pf-grid-item {
  margin-bottom: 1rem;
}

.pf-grid-item:last-child {
  margin-bottom: 0;
}

.pf-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pf-contact-item {
  width: 13vw;
  padding: 1vw;
}

/* Small screens */
@media only screen and (max-width: 900px) {
  .pf-container {
    flex-direction: column;
  }
  .pf-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* specifies the default alignment for items inside the flexible container */
    align-items: center;
    /* Alligns text */
    text-align: center;
  }
}

/* Mobile screens */
@media only screen and (max-width: 600px) {
  .pf-container {
    flex-direction: column;
  }
  .pf-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* specifies the default alignment for items inside the flexible container */
    align-items: center;
    /* Alligns text */
    text-align: center;
  }
  .pf-contact-item {
    width: 49%;
    margin-bottom: 1%;
    margin-right: 1%;
    padding: 0.5rem;
  }
}

/* Small screens */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .pf-contact-item {
    width: 22%;
    margin-right: 1%;
  }
  .pf-grid-item:last-child {
    margin-right: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 901px) {
  /* sidebar occupies 35% of the view width */
  .pf-sidebar {
    flex: 35vw;
    /* make the sidebar position stay */
    position: fixed;
    height: 100vh;
    width: 35vw;
  }
  /* push the content to the right side */
  .pf-sidebar-container {
    flex: 35vw;
  }
  /* content occupies 65% of the view width */
  .pf-content {
    flex: 65vw;
  }
  .pf-grid {
    /* flexbox can nest */
    display: flex;
    /* by default, flex tries to cram all items into 1 row
     if no more space, we want the item to appear in new line */
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .pf-grid-item {
    width: 47%;
  }
}
