/* GENERAL */
html, body, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 5em;
}

h3 {
    font-size: 3em;
}

a {
    color: black;
    text-decoration: none;
}

.fa {
    font-size: 6vh !important;
}

#grid-container {
    display: grid;
     grid-auto-flow: column; 
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 30vh 60vh 10vh;
    grid-template-areas: 
    "header header header profile profile"
    "work work work work resume"
    "contact contact contact contact contact" 
    ;  
}

/* HEADER */
header {
    background-color: darkcyan;
    grid-area: header;
}


/* PROFILE IMG */
#profile-img-container {
   background-color: yellow;
   grid-area: profile;
}

#profile-img {
    max-width: 100%;
}


/* PORTFOLIO */
article {
    background-color: violet;
    grid-area: work;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#portfolio-title {
    width: 100%;
    text-align: center;
}

.img-container {
    width: 30%;
    margin-right: 1vw;  
}

 .img-container:last-of-type {
   margin-right: 0vw;
} 

.responsive-img {
    max-width: 100%;
}

/* RESUME */ 
#resume-container {
    background-color: rosybrown;
    grid-area: resume;
    text-align: center;
}


/* CONTACT  */
footer {
    background-color: palegoldenrod;
    grid-area: contact;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}