html {
  box-sizing: border-box;
  background: #3f7caa;
  background: linear-gradient(#3f7caa, #78bae6); /* Standard syntax */
   /* Standard syntax */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-family: "Open Sans", sans-serif;
}

p {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

hr {
  border-color: black;  
}

.pf-sidebar {
  background: #54a9a6;
  background: linear-gradient(#89dbd7, #54a9a6); /* Standard syntax */
  background: -webkit-linear-gradient(#89dbd7, #54a9a6); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#89dbd7, #54a9a6); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#89dbd7, #54a9a6); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#89dbd7, #54a9a6); /* Standard syntax */
  /* 1 viewport unit = 1% of width of viewport 
  (if viewport is 100 pixels wide, 1vw = 1 pixel */
  padding: 5vw;
  /* center text */
}

.pf-grid-item {
  background: #ffc600;
  background: linear-gradient(#f5c947, #ffc600); /* Standard syntax */
  background: -webkit-linear-gradient(#f5c947, #ffc600); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f5c947, #ffc600); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f5c947, #ffc600); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f5c947, #ffc600); /* Standard syntax */
  padding: 3vw;
}

.pf-contact-item {
  background-color: #092327;
  background: -webkit-linear-gradient(#092327, #0d353b); /* For Safari 5.1 to 6.0 */
  
  color: white;
  text-align: center;
}

.fa {
  color: #00a9a5;
}

#intro {
  font-weight: 100;
  font-size: 1.6rem;
}

.icon {
  height: 50px;
  width: 50px;
}

#bananaslug {
  margin-top: 10vh;
  height: 200px;
  width: 200px;
}

.materials {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
